.tech {
    width: 50vw;

}

.developer {

}

.techHeader {
    display: flex;
    width: 50vw;
}

.developerHeader {
    display: flex;
}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    align-items: center;
    padding: 0 17px;
    height: 36px;
    background: #E5E5E5;
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
