.spanBlock {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    color: #0080FF;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.span {
    margin-left: 20px;
}

.input {
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 276px;
    height: 36px;
    border: 1px solid #D1D1D1;

}

.pen {
    width: 24px;
    height: 24px;
}